<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What We Offer</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shield wow bounceIn text-primary"></i>
                    <h3>Curated Home</h3>
                    <p class="text-muted">We meticulously research and provide physical goods that respect your privacy and enhance your security. From analog essentials to privacy-first tech, we ensure your home remains your sanctuary.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-compass wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Digital Fortification</h3>
                    <p class="text-muted">Protecting your family and business in an interconnected world requires more than just secure passwords. We provide tailored strategies to shield your digital presence and secure your invisible borders.</p>
                </div>
            </div>
<!--             <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pencil-square-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Writing, Editing, and Translating</h3>
                    <p class="text-muted">We will write, edit, and translate your prose.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
